/* SECTION header */
*{
   margin: 0;
   box-sizing: border-box;


}
html{
    font-family: 'Oswald', sans-serif;
    font-size: 62.5%;
    color: white;
}

h2{
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 3rem;
    text-align: center;
}
p{
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 20px;
}

.wrap{
    margin: auto;
}
.cabecera{
    position: relative;

}
.cabecera h1 ,.cabecera h2{
    position: absolute;
    color: #fff;
}
.cabecera h1{
    top: 10%;
    left: 40%;
    font-size: 3rem;

}
.cabecera h2{
    bottom: 30%;
    left: 10%;
    text-align: 4.2rem;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    background-color: #7299fe80;

}
.cabecera figure img{
    display: block;
    width: 100%;
}

/* Sobre mi */


.sobre-mi{
    padding: 30px 40px 70px 40px;
    background-color: #7299FE;
}



.sobre-mi button{
    height: 62px;
    width: 187px;
    left: 38px;
    top: 811px;
    border-radius: 25px;
    background-color: #D16FFF;
    border: none;
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 4px 20px 0px #D16FFF;
}

/* Skills */


.mis_skills{
    padding: 30px 40px 40px;
    background-color: #9022FF;
}
.mis_skills p{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.skills_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skills{
    width: 40%;
    margin-bottom: 20px;
    margin-right: 30px;
}
.progress{
    position: relative;
    height: 20px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    
}
.fondo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 45%;
    height: 100%;
    border-radius: 10px;
    background-color: #57EFF9;
}

/* Portafolio */

.portafolio{
    padding: 40px 140px 80px 140px;
    background-color: #FFD233;
}
.portafolio h2{
    color: #00AD84;
    margin-bottom: 50px;
}
.portafolio_container_img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.portafolio_container_img figure{
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Clientes */

.clientes{
    padding: 30px 50px 100px 50px;
    background-color: #3F4E62;
}
.clientes h2{
    color: #ADFF28;
}
.clientes_container_img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.clientes_container_img figure{
    margin-right: 10px;
}

/* Contacto */

.contacto{
    padding: 30px 60px 70px 60px;
    background-color: #1687A0;
}
.contacto h2{
    color: #FF1B1B;
}
.contacto form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacto div{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    justify-content: space-between;
}
.contacto input{
    padding: 20px 0 20px 5px;
    /* margin: 0 30px 30px 0; */
    width: 48%;
}
.contacto textarea{
    width: 100%;
    padding: 20px 0 70px 5px;
    margin-bottom: 40px;
}
.contacto button{
    width: 25%;
    height: 56px;
    font-weight:700;
    font-family: Arial;
    border: none;
    background-color: #233451;
    color: #fff;
    font-size: 1.8rem;
}